* {
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Helvetica;

  }

  h1 {
    font-size: 5vmin;
    margin-bottom: -1vmin;
   
  }

  h3 {
    font-size: 1.7vmin;

  }

  #play-again {
    font-size: 2vmin;
  }

  #right-color {
    margin-bottom: -1.5vmin;
    margin-left: 2.3vmin;
  }


   #board {
    display: flex;
    justify-content: space-around;
    margin: 3vmin 0 1vmin 0;

  }
     
  #cells {
    display: flex;
    flex-direction: column;
    gap: 1vmin;
    margin-right: 1vmin

  }

.row {
  /* height:3vmin; */
}

  #cells > .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 8vmin;
    height: 2.2vmin;
  } 

  #cells > .row > div {
    border-radius: 50%;
    height: 1vmin;
    width: 1vmin;
    border: 0.1vmin solid black;
  

  }


   #pegs {
    display: flex;
    flex-direction: column;
    gap: 0.2vmin;
    
  }

  #pegs > .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .3vmin .3vmin;
    align-content: center;
    justify-content: center;
  }


  #pegs > .row > div {
    height: 0.6vmin;
    width: 0.6vmin;
    border: 0.07vmin solid black;
   
  }
  
  .flex-ctr {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
  } 

  #picker {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1vmin;
    margin: 0.5vmin 0 1.2vmin;
    
  }

  #picker > div {
    border-radius: 50%;
    height: 2.5vmin;
    width: 2.5vmin;
    border: 0.1vmin solid black;
    
  }


#red {
  background-color: red;;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#black {
  background-color: black;

}

#grey {
  background-color: grey;
}

#submit {
font-size: 3vmin;
}