* {
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Helvetica;

  }

  h1 {
    font-size: 3vmin;
    margin-bottom: -1vmin;
   
  }

  h3 {
    font-size: 1.7vmin;

  }

  #right-color {
    margin-bottom: -1.5vmin;
    margin-left: 2.3vmin;
  }


   #board {
    display: flex;
    justify-content: space-around;
    margin: 3vmin 0 1vmin 0;

  }
     
  #cells {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (12, 1fr);
    gap: 1vmin;
    margin-right: 1vmin

  }

  #cells > div {
    border-radius: 50%;
    height: 1.5vmin;
    width: 1.5vmin;
    border: 0.1vmin solid black;
  } 

   #pegs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (12, 1fr);
    grid-column-start: 2;
    gap: 0.2vmin;
    
  }

  #pegs > div {
    height: 0.6vmin;
    width: 0.6vmin;
    border: 0.07vmin solid black;
   
  }
  
  .flex-ctr {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
  } 

  #picker {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1vmin;
    margin: 0.5vmin 0 1.2vmin;
    
  }

  #picker > div {
    border-radius: 50%;
    height: 2.5vmin;
    width: 2.5vmin;
    border: 0.1vmin solid black;
    
  }